.main-container {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 50px; 
    background-color: #d8bcbc; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px; 
  }
  
  .main {
    font-weight: bold; 
    font-size: 24px;
    margin-bottom: 50px; 
  }
  
  .head-1,
  .head-2,
  .head-3,
  .head-4 {
    margin-bottom: 50px;
    font-size: 22px; 
  }
  