  .main-head {
    font-size: 32px;
    margin-bottom: 20px;
    color: rgb(229, 33, 187);
  }
  
  .paragraph {
    margin-bottom: 50px;
    font-size: 20px;
    color: rgb(46, 8, 104);
    
  }
  .paragraph-2 {
    margin-bottom: 50px;
    font-size: 20px;
    color: rgb(110, 218, 89);
    
  }
  
  .para-head {
    font-size: 18px;
    line-height: 1.5;
    font-size: 20px; 
    color: rgb(46, 8, 104);
  }
  
  .paragraph p {
    font-size: 20px;
    line-height: 1.5; 
  }
  .paragraph-1{
    border: 2px solid black;
    padding: 12px;
    
  }
  