.login-container h2{
    color: rgb(16, 186, 39);
    display: flex;
    justify-content: center;
    font-size: 35px;
}
.login-container {
    margin: 20px;
    margin-top: 60px;
    padding: 20px;
    border: 1px solid #ddd; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
    max-width: 400px; 
    margin: 0 auto; 
    margin-top:80px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-username-label,
.login-password-label {
    margin-bottom: 5px;
    font-size: 20px;
}

.login-username-input,
.login-password-input {
    padding: 8px;
    
    margin-bottom: 10px;
    width: 100%; 
    box-sizing: border-box; 
}

.login-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}
